.main {
  padding-top: 110px;
  align-items: center;
  background-color: "transparent";
  padding-inline: 10px;
}

.form_big_frame {
  width: 100%;
  min-height: 80vh;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen_title {
  font-size: medium;
  margin: 5px;
}

.form_poster {
  width: 20%;
  height: auto;
}

.event_title {
  font-size: large;
  margin: 5px;
  color: red;
}

.form_outer_frame {
  width: 100%;
  padding: 10px;
  margin-block: 10px;
}

/* STYLE POUR LE FORMULAIRE DE PARTICIPATION À UN TOURNOI */

.checkbox_form_item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.form_item_question_frame {
  display: flex;
  align-items: center;
}

.form_item_question {
  margin-right: 10px;
  margin-block: 5px;
}

.check_box_label_frame {
  display: flex;
  margin-inline: 20px;
  align-items: center;
}

.check_box_label {
  margin-inline: 10px;
}

.team_name_frame {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.team_name_input {
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #ECF0F1;
  padding-inline: 10px;
  margin-block: 10px;
}

.team_data_input {
  width: 100%;
  height: 30px;
  margin-block: 5px;
  border-radius: 15px;
  border: none;
  background-color: #ECF0F1;
  padding-inline-start: 10px;
  margin-right: 20px;
}

.datas_privacy_info {
  margin-block: 10px;
  font-size: x-small;
}

.players_datas_section_frame {
  width: 100%;
  margin-bottom: 20px;
}

.player_form {
  display: flex;
  justify-content: space-between;
}

.player_form_big_frame {
  width: 16.5%;
  border: solid;
  border-color: lightcyan;
  border-radius: 10px;
  padding: 5px;
  margin-block: 10px;
}

.membership_checkbox {
  display: flex;
  align-items: center;
}


/* STYLE POUR LE FORMULAIRE DE PARTICIPATION À UN ÉVÉNEMENT */
.participant_form_big_frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant_form_frame {
  width: 70%;
  display: flex;
  align-items: center;
  margin-block: 10px;
}

.participant_form_item {
  width: 15%;
}

.participant_data_frame {
  width: 85%;
  display: flex;
}

.participant_data_input_frame {
  display: flex;
  width: 70%;
}

.participant_data_input {
  width: 45%;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #ECF0F1;
  margin-right: 20px;
}

.event_membership_checkbox {
  width: 30%;
  display: flex;
  align-items: center;
}

.team_level_check_box_frame {
  display: flex;
}

/* REGISTER MODAL */
.modal_big_frame {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  background-color: rgba(0, 0, 0, 0.8)
}

.modal_white_frame {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 5px 5px 5px lightgray; */
}

.modal_title {
  margin-block: 10px;
  font-size: larger;

}

.modal_text {
  margin-block: 10px;
}

.modal_close_button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-block: 10px;
}

.event_form_validation_buttons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-block: 30px;
}

.form_validation_button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-inline: 40px;
}

.form_cancel_button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-inline: 40px;
}

@media screen and (max-width: 540px) {
  .checkbox_form_item {
    display: flex;
    flex-direction: column;
  }

  .checkbox_frame {
    margin-left: 0px;
    margin-block: 5px;
  }

  .checkbox_frame_team_level {
    display: flex;
    flex-direction: column;
  }

  .check_box_label_frame {
    margin-block: 5px;
  }

  .checkbox_label_team_level {
    margin-top: 5px;
  }

  .team_name_frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .team_name_input {
    width: 100%;
  }

  .team_data_input {
    width: 100%;
  }

  .player_form {
    display: flex;
    flex-direction: column;
  }

  .player_form_big_frame {
    width: 100%;
  }

  /* STYLE POUR LE FORMULAIRE DE PARTICIPATION À UN ÉVÉNEMENT */
  .participant_form_frame {
    width: 100%;
    flex-direction: column;
    border: solid;
    border-color: #ECF0F160;
    border-radius: 10px;
    padding: 10px;
  }

  .participant_form_item {
    width: 100%;
    margin-bottom: 10px;
  }

  .participant_data_frame {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .participant_data_input_frame {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .participant_data_input {
    width: 100%;
    margin-bottom: 10px;
  }

  .event_membership_checkbox {
    width: 100%;
  }

  .checkbox_membership {
    margin-right: 10px;

  }

  .team_level_check_box_frame {
    display: flex;
    flex-direction: column;
  }

  .form_validation_button {
    margin-inline: 20px;
  }

  .form_cancel_button {
    margin-inline: 20px;
  }

}