.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  height: 120px;
  min-height: 75px;
  color: #fff;
  background: linear-gradient(45deg, black, red);
  width: 100%;
  padding-top: 20px;
  /* essai*/
  z-index: 1;
}

.navbar_logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.name_menu {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.name_bloc {
  display: flex;
  align-items: center;

}

.name_acronym {
  color: red;
  font-size: xx-large;
  font-weight: 800;
  margin-right: 10px;
}

.name {
  color: red;
  font-size: xx-large;
  font-weight: 400;
  margin-left: 10px;
}

.navbar_links {
  display: flex;
}

.navbar_link {
  padding-right: 1rem;
  color: #FFF;
  text-decoration: none;
}

.navbar_link:hover {
  color: red
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 540px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: #000;
    transition: all .4s ease-in-out
  }

  .name_bloc {
    flex-direction: column;
    align-items: flex-start;


  }

  .name {
    font-size: x-small;
    margin-left: 0px;
  }

  .show-nav .navbar_links {
    right: 0;
    width: 60vw;
    visibility: visible;
  }


  /* Petits traits entre chaque nav_item */
  .navbar_item::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 3px;
    background: #FFF;
  }

  .navbar_item:last-child::after {
    display: none;
  }

  /* Petits traits entre chaque nav_item */


  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 3vw;
  }

  .navbar_burger {
    display: block;
    position: fixed;
    right: 1rem
  }

  .navbar_burger:hover {
    cursor: pointer;
  }

  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #FFF;
    transition: all .5s ease-in-out
  }

  .burger_bar::before,
  .burger_bar::after {
    content: "";
    position: absolute;
    left: 0
  }

  .burger_bar::before {
    transform: translateY(-12px);

  }

  .burger_bar::after {
    transform: translateY(12px);


  }

  .show-nav .burger_bar {
    background: transparent;
    width: 0
  }

  .show-nav .burger_bar::before {
    transform: rotate(45deg)
  }

  .show-nav .burger_bar::after {
    transform: rotate(-45deg)
  }

  /* animation des boutons de navigation */
  .navbar_item {
    transform: translateY(100vh);
  }

  .show-nav .navbar_item {
    transform: translateY(0);
  }

  .show-nav .slideInDown-1 {
    transition: all 1s ease-in-out
  }

  .show-nav .slideInDown-2 {
    transition: all 1.1s ease-in-out
  }

  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-in-out
  }

  .show-nav .slideInDown-4 {
    transition: all 1.3s ease-in-out
  }

  .show-nav .slideInDown-5 {
    transition: all 1.4s ease-in-out
  }

  .show-nav .slideInDown-6 {
    transition: all 1.5s ease-in-out
  }

  .show-nav .slideInDown-7 {
    transition: all 1.6s ease-in-out
  }

  .show-nav .slideInDown-8 {
    transition: all 1.7s ease-in-out
  }

}