.bo_create_teams_big_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creation_frame {
  width: 100%;
  padding: 10px
}

.create_team_form_group {
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create_team_item_label_frame {
  width: 20%;
}

.teamGender_item {
  margin-right: 20px;
}

.create_team_player_input_frame {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.create_team_player_input_number {
  width: 30px;
margin-right: 10px;
}

.team_input {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  padding-inline: 10px ;
}

.team_input_short_width {
width: 190px;
}

.team_input_medium_width {
  width: 400px;
}

.team_input_large_width {
  width: 800px;
}

.team_picture{
  width: 150px;
  height: 100px;
  background-color: lightgray;
}

.team_picture_uplaod {
  margin-inline: 10px;
  display: flex;
  align-items: center;
}

.create_team_buttons {
  height: 30px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: medium;
  margin: 20px;
  background-color: lightgray;
  padding-inline: 20px;
}

.create_team_buttons:hover{
  cursor: pointer;
}

.save_button_activated {
  background-color: green;
}

.team_creation_validation_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}




