.bo_create_vblc_beach_section_big_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_vblc_beach_section_form_group {
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create_vblc_beach_section_label_frame {
  width: 25%;
}

.vblc_beach_section_input {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  padding-inline: 10px;
}

.vblc_beach_section_short_width {
  width: 190px;
}

.vblc_beach_section_medium_width {
  width: 400px;
}

.vblc_beach_section_creation_frame {
  width: 100%;
  padding: 10px
}

.coach_picture_shape{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: lightgray;
}

.coach_picture_uplaod {
  margin-inline: 10px;
  display: flex;
  align-items: center;
}

.coach_1_picture_upload_button {
  height: 30px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: medium;
  margin: 20px;
  background-color: lightgray;
  padding-inline: 20px;
}

.coach_1_picture_upload_button:hover{
  cursor: pointer;
}

.coach_1_picture_upload_button_activated {
  background-color: green;
}

