.bo_event_participants_list_big_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events_cards_frame {
  width: 100%;
  padding: 10px;
}

.events_cards_display_participants {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.events_cards_title_participants {
  text-align: center;
  font-weight: 500;
}

.events_cards_participants {
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-block: 10px;
}

.events_cards_participants_selected {
  border: solid;
  border-color: red;
}

.events_cards_participants:hover {
  cursor: pointer;
}

.participants_list_title {
  font-size: larger;
  font-weight: 500;
  text-align: center;
}

.participants_list_tournament_type {
  margin-block: 10px;
  font-weight: 500;
}

.participants_table_by_tournament_type {
  border: solid;
  border-color: #F0F3F4;
  padding: 10px;
}

.participants_table_by_tournament_type_team_name_frame {
  display: flex;
  margin-bottom: 10px
}

.participants_table_by_tournament_type_team_player {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.participants_table_by_tournament_type_team_name{
  margin-right: 10px;
  font-weight: 500;
}

.participants_table_by_tournament_type_team_name{
  margin-right: 10px;
  font-weight: 500;
}

.participants_table_by_tournament_type_team_player_name {
  margin-right: 10px;
  font-weight: 500;
}

.check_case {
  width: 15px;
  height: 15px;
}

.print_button_frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.print_button_disactivated {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: lightgrey;
  color: #FFFFFF;
  margin-block: 20px;
}

.print_button_activated {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: green;
  color: #FFFFFF;
  margin-block: 20px;
  cursor: pointer;
}

.non_inscription {
  color: lightgrey;
}