/* GENERAL */
.main {
  padding-top: 110px;
  align-items: center;
  background-color: "transparent";
  padding-inline: 10px;
}

.home_news_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  padding-inline: 80px;
  padding-block: 10px;
  margin-top: 20px;
}

.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.9s;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
  height: 100%;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

.carousel_img_frame {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.responsive_img {
  width: auto;
  height: 80%;
}

.news_title {
  font-size: larger;
  font-weight: 500;
  color: red;
  /* text-align: center; */
}

.news_date {
  font-weight: 400;
  text-align: center;
}

.news_description_div {
  width: 100%;
  padding-inline: 10px;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-around;

}

.center {
  text-align: center;
}

.news_place {

  text-align: center;
}

.carousel_info_frame {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 10px;
}

.carousel_left_button {
  position: absolute;
  left: 10px;
  top: 400px;
  margin-left: 20px;
}

.carousel_right_button {
  position: absolute;
  right: 10px;
  top: 400px;
  margin-right: 20px;
}

.carousel_button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.indicatorss {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.indicator-buttons {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-inline: 5px;
}

.indicator-symbol {
  background-color: lightgrey;
}

.indicator-symbol-active {
  background-color: red;
}

.info_button {
  width: 270px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: red;
  color: white;
  font-size: large;
  cursor: pointer;
  margin-block: 10px;
}

.home_partner_frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin-block: 10px;
  border-radius: 10px;
  padding: 20px;
}

.partners_frame {
  width: 13%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: 20px;
}

/* FLASH NEWS MODAL */
.flash_news_modal_big_frame {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  background-color: rgba(0, 0, 0, 0.8)
}

.flash_news_modal_white_frame {
  width: 70%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
  overflow-y: auto;
  /* box-shadow: 5px 5px 5px lightgray; */
}

.flash_news_frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px;
  padding: 10px;
}

.flash_news_title {
  color: red;
  font-size: larger;
  margin-block: 10px;
  text-align: center;
}

.flash_news_body_text {

  text-align: center;
}

.flash_news_modal_text {
  margin-block: 10px;
}

.flash_news_modal_close_button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-block: 10px;
}


@media screen and (max-width: 540px) {

  .carousel_item {
    flex-direction: column;
    height: 600px;
  }

  .home_news_frame {
    padding-inline: 10px;
    height: 600px;
  }

  .carousel_img_frame {
    width: 90%;
    height: 50%;
  }

  .responsive_img {
    height: 100%;
  }

  .carousel_info_frame {
    width: 90%;
    height: 50%;
  }

  .news_description_div {
    height: 60%;
  }

  .news_title {
    font-size: medium;
    font-weight: 400;
    color: red;
  }

  .news_date {
    font-size: medium;
    font-weight: 300;
  }

  .home_partner_frame {
    padding: 20px;
  }

  .partners_frame {
    width: 30%;
    height: 30%;
  }

  .carousel_left_button {
    top: 360px;
    margin-left: 10px;
  }

  .carousel_right_button {
    top: 360px;
    margin-right: 10px;
  }

  .info_button {
    font-size: medium;
  }

  .flash_news_modal_white_frame {
    width: 90%;
  }
}