.main {
  padding-top: 110px;
  align-items: center;
  background-color: "transparent";
  padding-inline: 10px;
}

/* IMAGE PRINCIPALE */
.club_picture_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* box-shadow: 5px 5px 5px lightgray; */
  width: 100%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.picture {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/* BLOC INFO PRINCIPALE */
.info_bloc {
  display: flex;
  flex-direction: row;
}

/* BLOC INFO À GAUCHE QUI COMPREND LE CLUB, LES VALEURS, ET LES QUELQUES CHIFFRES */
.info_left_bloc {
  width: 70%;
  padding-right: 10px
}

/* CHAQUE BLOC A GAUCHE: LE BLOCK CLUB, VALEURS ET LES CHIFFRES*/


.club_bloc {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}


.values_bloc {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.value_thumbnails_bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.value_thumbnails {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 200px;
  background-color: #FFF;
  justify-content: space-evenly;
  padding: 5px;
  text-align: center;
  margin-block: 10px;
  border-radius: 10px;

}

.figures_bloc {
  margin-block: 10px;
  padding: 20px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;

}

.figures_thumbnails_bloc {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.figures_round {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 5px gray;
  margin-block: 10px;
}

.number {
  font-size: 50px;
  text-align: center;
  color: red;
}

.content {
  font-size: 12px;
  text-align: center;
  color: red;
}


/* BLOC INFO À DROITE QUI COMPREND UNIQUEMENT LE BUREAU */
.info_right_bloc {
  width: 30%;
  padding-left: 10px
}

.member_bloc {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.single_member_bloc {
  margin-top: 10px;
  /* background-color: white; */
  height: 100px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding-inline: 10px;
  box-shadow: 2px 2px 2px lightgray;
  /* background-color: #F4F6F7; */
  border-radius: 10px;
  justify-content: space-evenly;
}

.single_member_picture {
  width: 90px;
  height: 90px;
  background-color: #F0F3F4;
  border-radius: 45px;
}

.single_member_info {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.member_position {
  font-size: medium;

}

.member_name {
  font-size: medium;
  font-weight: 500;
}

.member_contact_frame {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.member_contact_icon {
  fill: white;
  stroke: red;
  stroke-width: 10px;
}

.address {
  text-align: center;

}

@media screen and (max-width: 540px) {

  .club_picture_frame {
    height: 200px;
  }

  .info_bloc {
    display: flex;
    flex-direction: column;
  }

  .info_left_bloc {
    width: 100%;
    padding-right: 0px
  }

  .info_right_bloc {
    width: 100%;
    padding-left: 0px
  }

  .figures_bloc {
    margin-right: 0px;
  }


}